<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Accessing Databases with SQL Magic

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

-   Perform simplified database access using SQL "magic"

##### To communicate with SQL Databases from within a JupyterLab notebook, we can use the SQL "magic" provided by the [ipython-sql](https://github.com/catherinedevlin/ipython-sql) extension. "Magic" is JupyterLab's term for special commands that start with "%". Below, we'll use the _load_\__ext_ magic to load the ipython-sql extension. In the lab environemnt provided in the course the ipython-sql extension is already installed and so is the ibm_db_sa driver.

In [8]:
%reload_ext sql

##### Now we have access to SQL magic. With our first SQL magic command, we'll connect to a Db2 database. However, in order to do that, you'll first need to retrieve or create your credentials to access your Db2 database.

<a ><img src = "https://ibm.box.com/shared/static/uy78gy1uq3uj6fkvd4muzy5zcr62tb72.png" width = 1000, align = "center"></a>

  <h5 align=center>  This image shows the location of your connection string if you're using Db2 on IBM Cloud. If you're using another host the format is: username:password@hostname:port/database-name
  </h5>

In [9]:
# Enter your Db2 credentials in the connection string below
# Recall you created Service Credentials in Part III of the first lab of the course in Week 1
# i.e. from the uri field in the Service Credentials copy everything after db2:// (but remove the double quote at the end)
# for example, if your credentials are as in the screenshot above, you would write:
# %sql ibm_db_sa://my-username:my-password@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
# Note the ibm_db_sa:// prefix instead of db2://
# This is because JupyterLab's ipython-sql extension uses sqlalchemy (a python SQL toolkit)
# which in turn uses IBM's sqlalchemy dialect: ibm_db_sa
%sql ibm_db_sa://sjk07462:rlsc1xfx%2Bm4b7cnc@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB

##### For convenience, we can use %%sql (two %'s instead of one) at the top of a cell to indicate we want the entire cell to be treated as SQL. Let's use this to create a table and fill it with some test data for experimenting.

In [12]:
%%sql

DROP TABLE INTERNATIONAL_STUDENT_TEST_SCORES;

CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
    country VARCHAR(50),
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    test_score INT
);
INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
VALUES
('United States', 'Marshall', 'Bernadot', 54),
('Ghana', 'Celinda', 'Malkin', 51),
('Ukraine', 'Guillermo', 'Furze', 53),
('Greece', 'Aharon', 'Tunnow', 48),
('Russia', 'Bail', 'Goodwin', 46),
('Poland', 'Cole', 'Winteringham', 49),
('Sweden', 'Emlyn', 'Erricker', 55),
('Russia', 'Cathee', 'Sivewright', 49),
('China', 'Barny', 'Ingerson', 57),
('Uganda', 'Sharla', 'Papaccio', 55),
('China', 'Stella', 'Youens', 51),
('Poland', 'Julio', 'Buesden', 48),
('United States', 'Tiffie', 'Cosely', 58),
('Poland', 'Auroora', 'Stiffell', 45),
('China', 'Clarita', 'Huet', 52),
('Poland', 'Shannon', 'Goulden', 45),
('Philippines', 'Emylee', 'Privost', 50),
('France', 'Madelina', 'Burk', 49),
('China', 'Saunderson', 'Root', 58),
('Indonesia', 'Bo', 'Waring', 55),
('China', 'Hollis', 'Domotor', 45),
('Russia', 'Robbie', 'Collip', 46),
('Philippines', 'Davon', 'Donisi', 46),
('China', 'Cristabel', 'Radeliffe', 48),
('China', 'Wallis', 'Bartleet', 58),
('Moldova', 'Arleen', 'Stailey', 38),
('Ireland', 'Mendel', 'Grumble', 58),
('China', 'Sallyann', 'Exley', 51),
('Mexico', 'Kain', 'Swaite', 46),
('Indonesia', 'Alonso', 'Bulteel', 45),
('Armenia', 'Anatol', 'Tankus', 51),
('Indonesia', 'Coralyn', 'Dawkins', 48),
('China', 'Deanne', 'Edwinson', 45),
('China', 'Georgiana', 'Epple', 51),
('Portugal', 'Bartlet', 'Breese', 56),
('Azerbaijan', 'Idalina', 'Lukash', 50),
('France', 'Livvie', 'Flory', 54),
('Malaysia', 'Nonie', 'Borit', 48),
('Indonesia', 'Clio', 'Mugg', 47),
('Brazil', 'Westley', 'Measor', 48),
('Philippines', 'Katrinka', 'Sibbert', 51),
('Poland', 'Valentia', 'Mounch', 50),
('Norway', 'Sheilah', 'Hedditch', 53),
('Papua New Guinea', 'Itch', 'Jubb', 50),
('Latvia', 'Stesha', 'Garnson', 53),
('Canada', 'Cristionna', 'Wadmore', 46),
('China', 'Lianna', 'Gatward', 43),
('Guatemala', 'Tanney', 'Vials', 48),
('France', 'Alma', 'Zavittieri', 44),
('China', 'Alvira', 'Tamas', 50),
('United States', 'Shanon', 'Peres', 45),
('Sweden', 'Maisey', 'Lynas', 53),
('Indonesia', 'Kip', 'Hothersall', 46),
('China', 'Cash', 'Landis', 48),
('Panama', 'Kennith', 'Digance', 45),
('China', 'Ulberto', 'Riggeard', 48),
('Switzerland', 'Judy', 'Gilligan', 49),
('Philippines', 'Tod', 'Trevaskus', 52),
('Brazil', 'Herold', 'Heggs', 44),
('Latvia', 'Verney', 'Note', 50),
('Poland', 'Temp', 'Ribey', 50),
('China', 'Conroy', 'Egdal', 48),
('Japan', 'Gabie', 'Alessandone', 47),
('Ukraine', 'Devlen', 'Chaperlin', 54),
('France', 'Babbette', 'Turner', 51),
('Czech Republic', 'Virgil', 'Scotney', 52),
('Tajikistan', 'Zorina', 'Bedow', 49),
('China', 'Aidan', 'Rudeyeard', 50),
('Ireland', 'Saunder', 'MacLice', 48),
('France', 'Waly', 'Brunstan', 53),
('China', 'Gisele', 'Enns', 52),
('Peru', 'Mina', 'Winchester', 48),
('Japan', 'Torie', 'MacShirrie', 50),
('Russia', 'Benjamen', 'Kenford', 51),
('China', 'Etan', 'Burn', 53),
('Russia', 'Merralee', 'Chaperlin', 38),
('Indonesia', 'Lanny', 'Malam', 49),
('Canada', 'Wilhelm', 'Deeprose', 54),
('Czech Republic', 'Lari', 'Hillhouse', 48),
('China', 'Ossie', 'Woodley', 52),
('Macedonia', 'April', 'Tyer', 50),
('Vietnam', 'Madelon', 'Dansey', 53),
('Ukraine', 'Korella', 'McNamee', 52),
('Jamaica', 'Linnea', 'Cannam', 43),
('China', 'Mart', 'Coling', 52),
('Indonesia', 'Marna', 'Causbey', 47),
('China', 'Berni', 'Daintier', 55),
('Poland', 'Cynthia', 'Hassell', 49),
('Canada', 'Carma', 'Schule', 49),
('Indonesia', 'Malia', 'Blight', 48),
('China', 'Paulo', 'Seivertsen', 47),
('Niger', 'Kaylee', 'Hearley', 54),
('Japan', 'Maure', 'Jandak', 46),
('Argentina', 'Foss', 'Feavers', 45),
('Venezuela', 'Ron', 'Leggitt', 60),
('Russia', 'Flint', 'Gokes', 40),
('China', 'Linet', 'Conelly', 52),
('Philippines', 'Nikolas', 'Birtwell', 57),
('Australia', 'Eduard', 'Leipelt', 53)

 * ibm_db_sa://sjk07462:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.
Done.
99 rows affected.

[]

#### Using Python Variables in your SQL Statements

##### You can use python variables in your SQL statements by adding a ":" prefix to your python variable names.

##### For example, if I have a python variable `country` with a value of `"Canada"`, I can use this variable in a SQL query to find all the rows of students from Canada.

In [15]:
country = "Canada"
%sql select * from INTERNATIONAL_STUDENT_TEST_SCORES where country = :country

 * ibm_db_sa://sjk07462:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Canada', 'Cristionna', 'Wadmore', 46),
 ('Canada', 'Wilhelm', 'Deeprose', 54),
 ('Canada', 'Carma', 'Schule', 49)]

#### Assigning the Results of Queries to Python Variables

##### You can use the normal python assignment syntax to assign the results of your queries to python variables.

##### For example, I have a SQL query to retrieve the distribution of test scores (i.e. how many students got each score). I can assign the result of this query to the variable `test_score_distribution` using the `=` operator.

In [35]:
test_score_distribution = %sql SELECT test_score as "TestScore", count(*) as "Frequency" from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score;
test_score_distribution

 * ibm_db_sa://sjk07462:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(38, Decimal('2')),
 (40, Decimal('1')),
 (43, Decimal('2')),
 (44, Decimal('2')),
 (45, Decimal('8')),
 (46, Decimal('7')),
 (47, Decimal('4')),
 (48, Decimal('14')),
 (49, Decimal('8')),
 (50, Decimal('10')),
 (51, Decimal('8')),
 (52, Decimal('8')),
 (53, Decimal('8')),
 (54, Decimal('5')),
 (55, Decimal('4')),
 (56, Decimal('1')),
 (57, Decimal('2')),
 (58, Decimal('4')),
 (60, Decimal('1'))]

#### Converting Query Results to DataFrames

##### You can easily convert a SQL query result to a pandas dataframe using the `DataFrame()` method. Dataframe objects are much more versatile than SQL query result objects. For example, we can easily graph our test score distribution after converting to a dataframe.

In [41]:
dataframe = test_score_distribution.DataFrame()
dataframe['testscore']

0     38
1     40
2     43
3     44
4     45
5     46
6     47
7     48
8     49
9     50
10    51
11    52
12    53
13    54
14    55
15    56
16    57
17    58
18    60
Name: testscore, dtype: int64

In [40]:
%matplotlib inline
# uncomment the following line if you get an module error saying seaborn not found
# !pip install seaborn
import seaborn

plot = seaborn.barplot(x='tes,y='Frequency', data=dataframe)

ValueError: Could not interpret input 'TestScore'

Now you know how to work with Db2 from within JupyterLab notebooks using SQL "magic"!

In [26]:
%%sql 

-- Feel free to experiment with the data set provided in this notebook for practice:
SELECT country, first_name, last_name, test_score FROM INTERNATIONAL_STUDENT_TEST_SCORES;

 * ibm_db_sa://sjk07462:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('United States', 'Marshall', 'Bernadot', 54),
 ('Ghana', 'Celinda', 'Malkin', 51),
 ('Ukraine', 'Guillermo', 'Furze', 53),
 ('Greece', 'Aharon', 'Tunnow', 48),
 ('Russia', 'Bail', 'Goodwin', 46),
 ('Poland', 'Cole', 'Winteringham', 49),
 ('Sweden', 'Emlyn', 'Erricker', 55),
 ('Russia', 'Cathee', 'Sivewright', 49),
 ('China', 'Barny', 'Ingerson', 57),
 ('Uganda', 'Sharla', 'Papaccio', 55),
 ('China', 'Stella', 'Youens', 51),
 ('Poland', 'Julio', 'Buesden', 48),
 ('United States', 'Tiffie', 'Cosely', 58),
 ('Poland', 'Auroora', 'Stiffell', 45),
 ('China', 'Clarita', 'Huet', 52),
 ('Poland', 'Shannon', 'Goulden', 45),
 ('Philippines', 'Emylee', 'Privost', 50),
 ('France', 'Madelina', 'Burk', 49),
 ('China', 'Saunderson', 'Root', 58),
 ('Indonesia', 'Bo', 'Waring', 55),
 ('China', 'Hollis', 'Domotor', 45),
 ('Russia', 'Robbie', 'Collip', 46),
 ('Philippines', 'Davon', 'Donisi', 46),
 ('China', 'Cristabel', 'Radeliffe', 48),
 ('China', 'Wallis', 'Bartleet', 58),
 ('Moldova', 'Arleen', 'Stailey', 38),
 ('Ireland', 'Mendel', 'Grumble', 58),
 ('China', 'Sallyann', 'Exley', 51),
 ('Mexico', 'Kain', 'Swaite', 46),
 ('Indonesia', 'Alonso', 'Bulteel', 45),
 ('Armenia', 'Anatol', 'Tankus', 51),
 ('Indonesia', 'Coralyn', 'Dawkins', 48),
 ('China', 'Deanne', 'Edwinson', 45),
 ('China', 'Georgiana', 'Epple', 51),
 ('Portugal', 'Bartlet', 'Breese', 56),
 ('Azerbaijan', 'Idalina', 'Lukash', 50),
 ('France', 'Livvie', 'Flory', 54),
 ('Malaysia', 'Nonie', 'Borit', 48),
 ('Indonesia', 'Clio', 'Mugg', 47),
 ('Brazil', 'Westley', 'Measor', 48),
 ('Philippines', 'Katrinka', 'Sibbert', 51),
 ('Poland', 'Valentia', 'Mounch', 50),
 ('Norway', 'Sheilah', 'Hedditch', 53),
 ('Papua New Guinea', 'Itch', 'Jubb', 50),
 ('Latvia', 'Stesha', 'Garnson', 53),
 ('Canada', 'Cristionna', 'Wadmore', 46),
 ('China', 'Lianna', 'Gatward', 43),
 ('Guatemala', 'Tanney', 'Vials', 48),
 ('France', 'Alma', 'Zavittieri', 44),
 ('China', 'Alvira', 'Tamas', 50),
 ('United States', 'Shanon', 'Peres', 45),
 ('Sweden', 'Maisey', 'Lynas', 53),
 ('Indonesia', 'Kip', 'Hothersall', 46),
 ('China', 'Cash', 'Landis', 48),
 ('Panama', 'Kennith', 'Digance', 45),
 ('China', 'Ulberto', 'Riggeard', 48),
 ('Switzerland', 'Judy', 'Gilligan', 49),
 ('Philippines', 'Tod', 'Trevaskus', 52),
 ('Brazil', 'Herold', 'Heggs', 44),
 ('Latvia', 'Verney', 'Note', 50),
 ('Poland', 'Temp', 'Ribey', 50),
 ('China', 'Conroy', 'Egdal', 48),
 ('Japan', 'Gabie', 'Alessandone', 47),
 ('Ukraine', 'Devlen', 'Chaperlin', 54),
 ('France', 'Babbette', 'Turner', 51),
 ('Czech Republic', 'Virgil', 'Scotney', 52),
 ('Tajikistan', 'Zorina', 'Bedow', 49),
 ('China', 'Aidan', 'Rudeyeard', 50),
 ('Ireland', 'Saunder', 'MacLice', 48),
 ('France', 'Waly', 'Brunstan', 53),
 ('China', 'Gisele', 'Enns', 52),
 ('Peru', 'Mina', 'Winchester', 48),
 ('Japan', 'Torie', 'MacShirrie', 50),
 ('Russia', 'Benjamen', 'Kenford', 51),
 ('China', 'Etan', 'Burn', 53),
 ('Russia', 'Merralee', 'Chaperlin', 38),
 ('Indonesia', 'Lanny', 'Malam', 49),
 ('Canada', 'Wilhelm', 'Deeprose', 54),
 ('Czech Republic', 'Lari', 'Hillhouse', 48),
 ('China', 'Ossie', 'Woodley', 52),
 ('Macedonia', 'April', 'Tyer', 50),
 ('Vietnam', 'Madelon', 'Dansey', 53),
 ('Ukraine', 'Korella', 'McNamee', 52),
 ('Jamaica', 'Linnea', 'Cannam', 43),
 ('China', 'Mart', 'Coling', 52),
 ('Indonesia', 'Marna', 'Causbey', 47),
 ('China', 'Berni', 'Daintier', 55),
 ('Poland', 'Cynthia', 'Hassell', 49),
 ('Canada', 'Carma', 'Schule', 49),
 ('Indonesia', 'Malia', 'Blight', 48),
 ('China', 'Paulo', 'Seivertsen', 47),
 ('Niger', 'Kaylee', 'Hearley', 54),
 ('Japan', 'Maure', 'Jandak', 46),
 ('Argentina', 'Foss', 'Feavers', 45),
 ('Venezuela', 'Ron', 'Leggitt', 60),
 ('Russia', 'Flint', 'Gokes', 40),
 ('China', 'Linet', 'Conelly', 52),
 ('Philippines', 'Nikolas', 'Birtwell', 57),
 ('Australia', 'Eduard', 'Leipelt', 53)]

## Author

<a href="https://www.linkedin.com/in/ravahuja/" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2020-07-17        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |

<hr>

## <h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>